@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

:root {
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Manrope", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  /* display: flex; */
  min-width: 375px;
  max-width: 1920px;
  min-height: 100vh;
}
